In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [30]:
df=pd.read_csv("cars.csv")
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [32]:
df["normalized-losses"].replace("?", np.nan, inplace=True)
df["horsepower"].replace("?", np.nan, inplace=True)
df["normalized-losses"] = df["normalized-losses"].astype("float")
df["horsepower"] = df["horsepower"].astype("float")
nlmean = df["normalized-losses"].mean() 
hpmean = df["horsepower"].mean()
df["normalized-losses"].fillna(nlmean, inplace=True)
df["horsepower"].fillna(hpmean, inplace=True)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    float64
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(4), int64(5), object(6)
memory usage: 24.1+ KB

In [34]:
df_num = df.select_dtypes(["int64", "float64"])
df_cat = df.select_dtypes(object)

In [35]:
df_cat

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,alfa-romero,gas,convertible,rwd,front,dohc
1,alfa-romero,gas,convertible,rwd,front,dohc
2,alfa-romero,gas,hatchback,rwd,front,ohcv
3,audi,gas,sedan,fwd,front,ohc
4,audi,gas,sedan,4wd,front,ohc
...,...,...,...,...,...,...
200,volvo,gas,sedan,rwd,front,ohc
201,volvo,gas,sedan,rwd,front,ohc
202,volvo,gas,sedan,rwd,front,ohcv
203,volvo,diesel,sedan,rwd,front,ohc
204,volvo,gas,sedan,rwd,front,ohc

In [36]:
from sklearn.preprocessing import LabelEncoder

In [38]:
for col in df_cat:
    le = LabelEncoder()
    df_cat[col] = le.fit_transform(df_cat[col])

In [39]:
df_cat

     make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0       0          1           0             2                0            0
1       0          1           0             2                0            0
2       0          1           2             2                0            5
3       1          1           3             1                0            3
4       1          1           3             0                0            3
..    ...        ...         ...           ...              ...          ...
200    21          1           3             2                0            3
201    21          1           3             2                0            3
202    21          1           3             2                0            5
203    21          0           3             2                0            3
204    21          1           3             2                0            3

[205 rows x 6 columns]

In [42]:
df = pd.concat([df_cat, df_num], axis=1)

In [43]:
df.head()

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price
0,0,1,0,2,0,0,3,122.0,64.1,48.8,130,111.0,21,27,13495
1,0,1,0,2,0,0,3,122.0,64.1,48.8,130,111.0,21,27,16500
2,0,1,2,2,0,5,1,122.0,65.5,52.4,152,154.0,19,26,16500
3,1,1,3,1,0,3,2,164.0,66.2,54.3,109,102.0,24,30,13950
4,1,1,3,0,0,3,2,164.0,66.4,54.3,136,115.0,18,22,17450

In [44]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [45]:
x

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg
0,0,1,0,2,0,0,3,122.0,64.1,48.8,130,111.0,21,27
1,0,1,0,2,0,0,3,122.0,64.1,48.8,130,111.0,21,27
2,0,1,2,2,0,5,1,122.0,65.5,52.4,152,154.0,19,26
3,1,1,3,1,0,3,2,164.0,66.2,54.3,109,102.0,24,30
4,1,1,3,0,0,3,2,164.0,66.4,54.3,136,115.0,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,21,1,3,2,0,3,-1,95.0,68.9,55.5,141,114.0,23,28
201,21,1,3,2,0,3,-1,95.0,68.8,55.5,141,160.0,19,25
202,21,1,3,2,0,5,-1,95.0,68.9,55.5,173,134.0,18,23
203,21,0,3,2,0,3,-1,95.0,68.9,55.5,145,106.0,26,27
204,21,1,3,2,0,3,-1,95.0,68.9,55.5,141,114.0,19,25

In [46]:
y

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: int64

In [50]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.3, random_state=2)

In [51]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(xtrain, ytrain)

LinearRegression()

In [52]:
train = linreg.score(xtrain, ytrain) # training acc
test = linreg.score(xtest, ytest) # testing acc
print(f"Traning Result -: {train}")
print(f"Test Result -: {test}")

Traning Result -: 0.856397105498716
Test Result -: 0.7490644749472678

In [53]:
#High training acc and low testing acc.
#low training error -: low bias
#high test error -: high variance
#overfitting

In [54]:
from sklearn.linear_model import Ridge, Lasso

In [55]:
#L2 regularization

In [56]:
l2=Ridge(alpha=5)
l2.fit(xtrain,ytrain)

Ridge(alpha=5)

In [57]:
train = l2.score(xtrain, ytrain) # training acc
test = l2.score(xtest, ytest) # testing acc
print(f"Traning Result -: {train}")
print(f"Test Result -: {test}")

Traning Result -: 0.8373157768374476
Test Result -: 0.7244760055236253

In [59]:
#hypertuning lambda/ alpha value
for i in range(1,30):
    l2=Ridge(alpha=i)
    l2.fit(xtrain,ytrain)
    test = l2.score(xtest, ytest)
    print(f"value of lambda {i} test score {test}")

value of lambda 1 test score 0.7448221227953028
value of lambda 2 test score 0.7374749997793923
value of lambda 3 test score 0.7319453651092993
value of lambda 4 test score 0.7277654906074109
value of lambda 5 test score 0.7244760055236253
value of lambda 6 test score 0.721790745461178
value of lambda 7 test score 0.7195335245588942
value of lambda 8 test score 0.7175919311707998
value of lambda 9 test score 0.715891244709707
value of lambda 10 test score 0.7143798689401518
value of lambda 11 test score 0.713020952676119
value of lambda 12 test score 0.7117873880199943
value of lambda 13 test score 0.7106587143360277
value of lambda 14 test score 0.709619136655444
value of lambda 15 test score 0.7086562184712968
value of lambda 16 test score 0.7077599957040073
value of lambda 17 test score 0.7069223613366309
value of lambda 18 test score 0.706136628563689
value of lambda 19 test score 0.7053972144670295
value of lambda 20 test score 0.7046994068170428
value of lambda 21 test score 0.704039189324146
value of lambda 22 test score 0.703413108722651
value of lambda 23 test score 0.7028181722822948
value of lambda 24 test score 0.7022517677837654
value of lambda 25 test score 0.7017116003079225
value of lambda 26 test score 0.7011956417703271
value of lambda 27 test score 0.700702090231426
value of lambda 28 test score 0.7002293367870789
value of lambda 29 test score 0.6997759383972937

In [60]:
#final l2 model with best lambda value